services:
  - name: tasq-one-backend
    type: web
    env: node
    region: oregon
    plan: free
    branch: main
    buildCommand: |
      cd backend &&
      npm install
    startCommand: |
      cd backend &&
      npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
    healthCheckPath: /api/health