services:
  - name: tasq-one-backend
    type: web
    env: node
    region: oregon
    plan: free
    branch: main
    buildCommand: |
      cd backend &&
      npm install
    startCommand: |
      cd backend &&
      npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: CLIENT_URL
        value: https://tasq-one-frontend.onrender.com
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: SMTP_HOST
        value: smtp.gmail.com
      - key: SMTP_PORT
        value: '587'
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASS
        sync: false
      - key: SMTP_FROM
        value: 'Task.One <studiorevonza@gmail.com>'
    healthCheckPath: /api/health